{% extends "base.html" %}

{% block content %} 
        <div class="box">

            <div class="box todos">

                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <h2 class="box">正在跟踪的亚马逊产品</h2>
                <ul>
                    {% for todo in todos %}
                        <li>
                            {{todo.productName}}(${{todo.originPrice}})--<span class="red">现价${{todo.currentPrice}}</span>
                            <a href="{% url todo_edit todo.id %}">修改</a>,
                            <a href="{% url todo_delete todo.id %}" onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="box post">
                <h2>我要跟踪</h2>
                <form action="{% url todo_new %}" method="post" id="post_new">
                    {% csrf_token %} 
                    {{form}}
                    <p><input type="submit" class="submit" value="添加" /></p>
                </form>
            </div>

        </div>
{% endblock %}
